# reloj
NET clk	LOC = Y9   |IOSTANDARD=LVTTL;  # GCLK

# reset
NET "reset" LOC = "P16" | IOSTANDARD=LVTTL; 	#BTNC

# NET "enable" LOC = "N15" | IOSTANDARD=LVTTL; 	#BTNL

NET rel_1	LOC = Y11 | IOSTANDARD=LVTTL;  	# SW0 JA1 160
NET rel_2	LOC = AA11 | IOSTANDARD=LVTTL;  	# SW1	JA2 120
NET rel_3	LOC = Y10 | IOSTANDARD=LVTTL;  	# SW2	JA3 100
NET rel_4	LOC = AA9 | IOSTANDARD=LVTTL;  	# SW3	JA4 60
NET rel_5	LOC = W12 | IOSTANDARD=LVTTL;  	# SW4	JB1 25
